*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: Plain Light;
}

html,body{
    width: 100%;
    height: 100%;
}

#loader{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color:#030303;
    z-index: 100;
    padding: 20vh 10vw;
}

.line {
    /* background-color: rgb(37, 37, 37); */
    height: fit-content;
    /* margin: 2px; */
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.line1-part1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
}

.line1-part1 h5, .line1-part1 h6{
    font-size: 3vw;
    font-weight: 100;
    font-family: "Silk Serif";

}

.line1-part1 h5{
    /* background-color: red; */
    width: 5vw;
    text-align: right;
}

.line1-part1 h6 {
    margin-right: 40px;
}

.line h1{
    font-size: 6.5vw;
    font-weight: 900;
    text-transform: uppercase;
    
}
.line h2{
    font-size: 5vw;
    margin-left: 30px;
    font-weight: 900;
    text-transform: uppercase;
    opacity: 0;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes anime {
    0%{
        font-family: "plain light";
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        font-weight: 500;
        opacity: 1;
    }
    48%{
        font-family: "plain light";
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        font-weight: 500;
        opacity: 0;
    }
    50%{
        font-family: "silk serif";
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        font-weight: 500;
        opacity: 1;
    }
    100%{
        font-family: "silk serif";
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        font-weight: 500;
        opacity: 0;
    }
}

#main{
    position: relative;
    background-color: #030303;
}

#page1{
    height: 100vh;
    width:100%;
    background-color: black;
}